/* Home page styling */
#Center {
  background-color: #DCDCDC;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 15px;
}
#URL, #node {
  background-color: #DCDCDC;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: #343a40;
  border-radius: 50px 0px 0px 50px;
  padding: 15px;
  margin-right: 0px;
  margin-top: 5%;
  float: left;
  display: inline;
  width: 65%;
  margin-bottom: 2%;
  font-size: 20px;
}
#searchButton, #generateButton {
  background-color: #343a40;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 0px 50px 50px 0px;
  margin-left: 0;
  margin-top: 5%;
  color: white;
  float: left;
  display: inline;
  width: 35%;
  padding: 15px;
  margin-bottom: 2%;
  font-size: 20px;
}
#searchButton:hover, #generateButton:hover {
  background-color: white;
  border-color: #343a40;
  color: #343a40;
}
#iterations {
    width: 6ch;
}
/* End of homepage styling */

/* Start of results page styling */
#title {
  color: black;
  padding: 10px;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
#hierarchy {
  background-color: #DCDCDC;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
}
#details {
  background-color: #F5F5F5;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
    
}
ul, #structure {
    list-style-type: none;
}
#structure {
    margin: 0;
    padding: 0;
}
.pointer {
    cursor: pointer;
    user-select: none;
}
.pointer::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.pointer-down::before {
    transform: rotate(90deg);
}
.children {
    display: none;
}
.active {
    display: block;
}
#imageCreator {
    width: 100%;
    border-radius: 15px;
    background-color: #F5F5F5;
    padding: 10px;
    margin-top: 1%;
}
/* End of results page styling */
