/* Home page styling */
#Center {
  background-color: #DCDCDC;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 15px;
}
#URL {
  background-color: #DCDCDC;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: #343a40;
  border-radius: 50px 0px 0px 50px;
  padding: 15px;
  margin-right: 0px;
  margin-top: 5%;
  float: left;
  display: inline;
  width: 65%;
  margin-bottom: 2%;
  font-size: 20px;
}
#searchButton {
  background-color: #343a40;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 0px 50px 50px 0px;
  margin-left: 0;
  margin-top: 5%;
  color: white;
  float: left;
  display: inline;
  width: 35%;
  padding: 15px;
  margin-bottom: 2%;
  font-size: 20px;
}
#searchButton:hover {
  background-color: white;
  border-color: #343a40;
  color: #343a40;
}
/* End of homepage styling */

/* Start of results page styling */
#title {
  background-color: #343a40;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
}
#hierarchy {
  background-color: #DCDCDC;
  border-radius: 15px;
  padding: 10px;
  width: 99%;
  float: right;
}
#details {
  background-color: #F5F5F5;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  float: left;
}
#links {
  background-color: #DCDCDC;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  float: left;
}