{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Oops...error whilst scraping your website...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <div id="error">
                <p>Sorry, Moore's maps could not access the robots.txt file of your desired webpage, if you would like to try again, with another URL. We're sorry but this is often the case with some website which do not outline the permissions scrapers, like this one, have.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2"></div>
    </div>
</div>
{% endblock %}